<ion-header>
  <ion-navbar color="primary">
    <ion-title>Historial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button
      ion-item
      *ngFor="let data of historial; let i = index"
      (click)="abrirScan(i)"
    >
      {{data.info}}
      <p>{{data.tipo}}</p>
    </button>
  </ion-list>
</ion-content>
